header {
    border-bottom: solid 2px rgb(214, 164, 255);
    font-family: 'Nunito';
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Nunito';
    color: white;
    background: rgb(202, 173, 255);
    margin: 0px;
}


.chamada-texto{
    color: black;
    font-family: 'Nunito';
    font-size: large;
    text-align: center;
    justify-content: center;
}
.categoria-videos{
	background: rgb(226, 198, 255);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.imagem-lateral {
    justify-content: right;
}


header {
    border-bottom: solid 2px hsl(273, 100%, 82%);
    padding: 70px;
    font-size: 60px;
    color: hsl(293, 100%, 79%);
}


section {
	background: rgb(184,156,213);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}