body {
    color: white;
    background: rgb(167, 119, 255);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(214, 164, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section {
	background: rgb(226, 198, 255);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 